.filterSection {
  margin: 3.2rem 0;
}

.filterWidget select {
  padding: 0.8rem 2.4rem;
  cursor: pointer;
  border-radius: 0.4rem;
  color: var(--text-smoke-color);
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-size: 0.9rem;
}

.filterWidget select:focus {
  outline: none !important;
}

.filterWidget select option {
  font-size: 0.9rem;
}

.searchBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding-right: 1.2rem;
  padding-left: 0.2rem;
  cursor: pointer;
}

.searchBox input {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.8rem 2.4rem;
}

.searchBox span svg {
  fill: var(--primary-color);
}

@media only screen and (max-width:768px) {
  .filterWidget {
    margin-bottom: 3rem;
  }
}
@media only screen and (max-width:992px) {
  .filterWidget {
    margin-bottom: 3rem;
  }
}
